In [1]:
#import random
#import ctypes  # An included library with Python install. 
import pandas as pd
import mysql.connector
#from datetime import datetime, timedelta
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:@localhost/taqwa_corp?charset=utf8mb4")


connect = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",
    password = "",
    database = "taqwa_corp"

)

mycursor = connect.cursor()

In [2]:
#how many of the 62 parts are out of stock
queryOne = """
SELECT count(parts.PartNo) as OutOfStock
FROM `parts` 
WHERE parts.Inv <= 0 ORDER BY parts.Inv
"""
mycursor.execute(queryOne)
OutOfStock = mycursor.fetchone()
print("There are " + str(OutOfStock[0]) + " of the 62 parts out of stock. ")

#negative inventory with supplier orders
queryTwo = """
SELECT parts.PartNo, parts.Inv, worder.fullDate, worder.sO
FROM `parts` 
JOIN worder ON worder.partNo = parts.PartNo
WHERE parts.Inv <= 7 AND parts.pendO = 1 AND worder.recdInv = 0 ORDER BY parts.Inv
"""
dfOne = pd.read_sql(queryTwo, engine)
dfOne

There are 45 of the 62 parts out of stock.

    PartNo  Inv    fullDate  sO
0      372  -29  2024-11-08  22
1      335  -26  2024-11-15  23
2      351  -20  2024-11-15  25
3      353  -20  2024-11-15  25
4      338  -19  2024-11-21  25
5      359  -18  2024-11-15  25
6      364  -17  2024-11-19  24
7      341  -16  2024-11-08  15
8      384  -16  2024-11-15  19
9      362  -15  2024-11-13  17
10     352  -15  2024-11-15  20
11     368  -15  2024-11-19  21
12     336  -14  2024-11-28  22
13     365  -13  2024-11-21  17
14     355  -13  2024-11-28  17
15     342  -12  2024-11-08  14
16     356  -12  2024-11-24  25
17     374  -11  2024-11-19  16
18     360  -11  2024-11-09  15
19     340  -11  2024-11-08  20
20     347  -10  2024-11-08  16
21     375   -9  2024-11-25  17
22     361   -9  2024-11-11  23
23     373   -9  2024-11-19  17
24     339   -8  2024-11-21  23
25     378   -8  2024-11-24  18
26     363   -7  2024-11-15  13
27     390   -6  2024-11-12  17
28     357   -5  2024-11-21  17
29     376   -5  2024-11-08  12
30     381   -5  2024-11-23  15
31     386   -5  2024-11-09  15
32     348   -5  2024-11-19  16
33     345   -4  2024-11-30  22
34     387   -4  2024-11-13  16
35     379   -4  2024-11-30  21
36     350   -4  2024-12-02  12
37     334   -3  2024-11-18  17
38     377   -2  2024-11-19  14
39     349   -2  2024-11-25  13
40     331   -2  2024-11-11  11
41     391   -1  2024-11-08  15
42     346    0  2024-11-22  18
43     380    0  2024-11-13  14
44     389    2  2024-11-30  21

In [3]:
print("Sorted by Date")

#negative inventory with supplier orders, sorted by Date
querySix = """
SELECT parts.PartNo, parts.Inv, worder.fullDate, worder.sO
FROM `parts` 
JOIN worder ON worder.partNo = parts.PartNo
WHERE parts.Inv <= 7 AND parts.pendO = 1 AND worder.recdInv = 0 ORDER BY worder.fullDate
"""
dfFour = pd.read_sql(querySix, engine)
dfFour

Sorted by Date

    PartNo  Inv    fullDate  sO
0      341  -16  2024-11-08  15
1      347  -10  2024-11-08  16
2      342  -12  2024-11-08  14
3      340  -11  2024-11-08  20
4      376   -5  2024-11-08  12
5      372  -29  2024-11-08  22
6      391   -1  2024-11-08  15
7      386   -5  2024-11-09  15
8      360  -11  2024-11-09  15
9      361   -9  2024-11-11  23
10     331   -2  2024-11-11  11
11     390   -6  2024-11-12  17
12     387   -4  2024-11-13  16
13     380    0  2024-11-13  14
14     362  -15  2024-11-13  17
15     384  -16  2024-11-15  19
16     363   -7  2024-11-15  13
17     351  -20  2024-11-15  25
18     353  -20  2024-11-15  25
19     359  -18  2024-11-15  25
20     352  -15  2024-11-15  20
21     335  -26  2024-11-15  23
22     334   -3  2024-11-18  17
23     368  -15  2024-11-19  21
24     374  -11  2024-11-19  16
25     373   -9  2024-11-19  17
26     364  -17  2024-11-19  24
27     348   -5  2024-11-19  16
28     377   -2  2024-11-19  14
29     357   -5  2024-11-21  17
30     365  -13  2024-11-21  17
31     338  -19  2024-11-21  25
32     339   -8  2024-11-21  23
33     346    0  2024-11-22  18
34     381   -5  2024-11-23  15
35     378   -8  2024-11-24  18
36     356  -12  2024-11-24  25
37     349   -2  2024-11-25  13
38     375   -9  2024-11-25  17
39     355  -13  2024-11-28  17
40     336  -14  2024-11-28  22
41     379   -4  2024-11-30  21
42     345   -4  2024-11-30  22
43     389    2  2024-11-30  21
44     350   -4  2024-12-02  12

In [4]:
#how many of the 62 parts are out of stock and without re-orders
queryFour = """
SELECT count(parts.PartNo) as OutOfStock
FROM `parts` 
WHERE parts.pendO IS False AND parts.Inv <= 0 
"""

# the correct result is when pendO = 1 as opposed to 0 in the database, 
# the datatype is boolean, so you have to pass in zero for true and 1 for false, it seems 
# https://stackoverflow.com/questions/19431898/select-boolean-but-reverse-the-value

mycursor.execute(queryFour)
OutOfStock = mycursor.fetchone()
print("There are " + str(OutOfStock[0]) + " of the 62 parts out of stock witout re-orders. ")

#negative inventory without supplier orders
queryThree = """
SELECT partNo, Inv FROM `parts` WHERE Inv <= 0 AND pendO = 0 ORDER BY Inv
"""
dfTwo = pd.read_sql(queryThree, engine)
dfTwo

There are 0 of the 62 parts out of stock witout re-orders.

Empty DataFrame
Columns: [partNo, Inv]
Index: []

In [5]:
#get last 7 before today
queryFive = """
SELECT ttlParts7Days
FROM admin
"""

mycursor.execute(queryFive)
LastSeven = mycursor.fetchone()

#LastSeven[0]

In [6]:


#how many parts sold last week
querySix = """
SELECT count(invoices.PartNo) as TotalSold
FROM invoices
JOIN orders ON orders.OID = invoices.OID
WHERE orders.oDate >= CURRENT_DATE() - 7 AND orders.oDate < CURRENT_DATE() 
"""

mycursor.execute(querySix)
OutOfStock = mycursor.fetchone()
print("There were " + str(OutOfStock[0]) + " parts sold in the last 7 days. ")
print ("There was a difference of " + str(LastSeven[0] - OutOfStock[0]) + " parts in the last 7 days.")

sql = "UPDATE admin SET ttlParts7Days = %s"
#val = [OutOfStock]
mycursor.execute(sql, OutOfStock)  
connect.commit()

#how many of each part sold last week
querySeven = """
SELECT invoices.PartNo, count(invoices.PartNo) as TotalSold
FROM invoices
JOIN orders ON orders.OID = invoices.OID
WHERE orders.oDate >= CURRENT_DATE() - 7 AND orders.oDate < CURRENT_DATE() 
GROUP BY invoices.PartNo
ORDER BY TotalSold DESC
"""

dfThree = pd.read_sql(querySeven, engine)
dfThree

There were 282 parts sold in the last 7 days.
There was a difference of 0 parts in the last 7 days.

    PartNo  TotalSold
0      362          9
1      384          8
2      338          8
3      368          7
4      358          7
5      392          7
6      365          7
7      364          7
8      334          7
9      353          7
10     351          7
11     390          7
12     342          7
13     375          7
14     372          6
15     355          6
16     379          6
17     359          6
18     374          6
19     344          6
20     341          6
21     336          5
22     332          5
23     381          5
24     369          5
25     347          5
26     339          5
27     340          5
28     361          5
29     367          5
30     348          5
31     383          4
32     370          4
33     331          4
34     346          4
35     387          4
36     345          4
37     389          4
38     380          4
39     333          4
40     360          4
41     352          4
42     377          3
43     343          3
44     371          3
45     378          3
46     388          3
47     356          3
48     376          3
49     335          3
50     350          3
51     382          3
52     349          2
53     386          2
54     385          2
55     373          2
56     366          2
57     357          2
58     363          1
59     354          1

In [7]:
mycursor.close()
connect.close()

In [29]:
dfOS = dfOne.merge(dfThree, right_on='PartNo', left_on='PartNo')
dfOS['boIndex'] = dfOS['Inv'] + dfOS['TotalSold']
dfOS.sort_values(by='boIndex', inplace=True)
dfOS

    PartNo  Inv    fullDate  sO  TotalSold  boIndex
0      372  -29  2024-11-08  22          6      -23
1      335  -26  2024-11-15  23          3      -23
2      351  -20  2024-11-15  25          7      -13
3      353  -20  2024-11-15  25          7      -13
5      359  -18  2024-11-15  25          6      -12
4      338  -19  2024-11-21  25          8      -11
10     352  -15  2024-11-15  20          4      -11
6      364  -17  2024-11-19  24          7      -10
7      341  -16  2024-11-08  15          6      -10
12     336  -14  2024-11-28  22          5       -9
16     356  -12  2024-11-24  25          3       -9
8      384  -16  2024-11-15  19          8       -8
11     368  -15  2024-11-19  21          7       -8
23     373   -9  2024-11-19  17          2       -7
18     360  -11  2024-11-09  15          4       -7
14     355  -13  2024-11-28  17          6       -7
13     365  -13  2024-11-21  17          7       -6
19     340  -11  2024-11-08  20          5       -6
9      362  -15  2024-11-13  17          9       -6
26     363   -7  2024-11-15  13          1       -6
17     374  -11  2024-11-19  16          6       -5
20     347  -10  2024-11-08  16          5       -5
25     378   -8  2024-11-24  18          3       -5
15     342  -12  2024-11-08  14          7       -5
22     361   -9  2024-11-11  23          5       -4
31     386   -5  2024-11-09  15          2       -3
24     339   -8  2024-11-21  23          5       -3
28     357   -5  2024-11-21  17          2       -3
29     376   -5  2024-11-08  12          3       -2
21     375   -9  2024-11-25  17          7       -2
36     350   -4  2024-12-02  12          3       -1
30     381   -5  2024-11-23  15          5        0
32     348   -5  2024-11-19  16          5        0
33     345   -4  2024-11-30  22          4        0
34     387   -4  2024-11-13  16          4        0
39     349   -2  2024-11-25  13          2        0
38     377   -2  2024-11-19  14          3        1
27     390   -6  2024-11-12  17          7        1
35     379   -4  2024-11-30  21          6        2
40     331   -2  2024-11-11  11          4        2
42     380    0  2024-11-13  14          4        4
37     334   -3  2024-11-18  17          7        4
41     346    0  2024-11-22  18          4        4
43     389    2  2024-11-30  21          4        6